{
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "jsxBracketSameLine": true,
  "jsxSingleQuote": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 4,
  "useTabs": true
}
