@import '../animations.module';
@import '../colors';

.skillGroup {
    margin-bottom: 20px;
}

.skillGroupHeader {
    margin-bottom: 7px;
}

.skillPoint {
    border: 3px solid $light-grey;
    border-radius: 14px;
    display: inline-block;
    height: 14px;
    margin-bottom: -1px !important; // Override typography.js last child default
    margin-right: 7px;
    width: 14px;
}

.fullSkill {
    border-color: transparent;

    &::before,
    &::after {
        border-radius: 14px;
        content: "";
        height: 14px;
        margin: -3px 0px 0px -3px;
        position: absolute;
        width: 14px;
    }

    &::before {
        border: 3px solid $light-grey;
        -webkit-animation: draw-skill-border 1s linear both;
        animation: draw-skill-border 1s linear both;
    }
}

.skillPointSection {
    margin-right: 7px;
}